@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Jockey+One&display=swap');

@font-face {
    font-family: 'Inria Sans';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/InriaSans-Light.ttf);
}

@font-face {
    font-family: 'Inria Sans';
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/InriaSans-LightItalic.ttf);
}

@font-face {
    font-family: 'Inria Sans';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/InriaSans-Regular.ttf);
}

@font-face {
    font-family: 'Inria Sans';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/InriaSans-Italic.ttf);
}

@font-face {
    font-family: 'Inria Sans';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/InriaSans-Bold.ttf);
}

@font-face {
    font-family: 'Inria Sans';
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/InriaSans-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: white;
    font-family: 'Inria Sans';
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.center {
    text-align: center;
}

.font-family-heading {
    font-family: 'Jockey One';
}

.font-family-content {
    font-family: 'Inria Sans';
}

.font-bold {
    font-weight: bold;
}

.font-xx-small {
    font-size: 10px;
}

.font-small {
    font-size: 14px;
}
.font-medium {
    font-size: 16px;
}

.font-large {
    font-size: 18px;
}

.font-italic {
    font-style: italic;
}

.w-25 {
    width: 25px;
}

.h-25 {
    height: 25px;
}

.w-50 {
    width: 50px;
}

.h-50 {
    height: 50px;
}

.min-h-100 {
    min-height: 100px;
}

.width-full {
    width: 100%;
}

.padding-small {
    padding: 0.66em;
}

.padding-start-small {
    padding-left: 0.66em;
}

.margin-top-x-small {
    margin-top: 0.44em;
}


.margin-top-medium {
    margin-top: 1.33em;
}

.margin-top-large {
    margin-top: 1.66em;
}

.margin-vertical-small {
    margin-top: 0.66em;
    margin-bottom: 0.66em;
}

.margin-vertical-medium {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

.padding-top-medium {
    padding-top: 1.33em;
}

.padding-vertical-small {
    padding-top: 0.66em;
    padding-bottom: 0.66em;
}

.margin-horizontal-small {
    margin-left: 0.66em;
    margin-right: 0.66em;
}

.padding-horizontal-small {
    padding-left: 0.66em;
    padding-right: 0.66em;
}

.padding-horizontal-medium {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-vertical-large {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.padding-vertical-x-large {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
}

.shadow {
    box-shadow: 0 5px 5px rgba(0,0,0,.05);
}

.text-big {
    font-size: 42px;
}
.bg-primary {
    background: linear-gradient(180deg, #5337FF 0%, #3E23E2 100%);
}

.bg-secondary {
    background: linear-gradient(180deg, #ffffff 100%, #A7A7A7 100%);
}

.bg-btn-secondary {
    background: linear-gradient(180deg, #cfcfcf 100%, #A7A7A7 100%);
}

.bg-socialbutton-facebook {
    background: linear-gradient(180deg, #4267B2 100%, #23458A 100%);
}

.bg-socialbutton-apple {
    background: linear-gradient(180deg, #111 100%, #000 100%);
}

.color-white {
    color: #FFFFFF;
}

.color-primary {
    color: #5337FF;
}

.color-secondary {
    color: #494949;
}

.color-secondary-light {
    color: #8A8A8A;
}

.color-secondary-lighter {
    color: #A5A5A5;
}

.border-primary {
    border: 0.5px solid #3E23E2;
}

.border-secondary {
    border: 0.5px solid #bbbbbb;
}

.radius-small {
    border-radius: 4px;
}

.button {
    border: 0.5px solid #3E23E2;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
    font-family: 'Inria Sans';
    font-weight: 700;
}

.round {
    border-radius: 50px;
}

.circle {
    border-radius: 100%;
}

.cover {
    object-fit: cover;
}

.text-align-end {
    text-align: end;
}

.text-underline {
    text-decoration: underline;
}

.horizontal-text-divider {
    display:flex;
    align-items: center;
}

.horizontal-text-divider::before,
.horizontal-text-divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #949494;
    margin: 1.33em;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

/*
If we dont have a content yet, fill all the
available width and height with light grey blocks 
to be used on h1 or span etc
*/
.loading-overlay {
    display: block;
    background-color: #d8d8d8;
    max-width: 45%;
    width: 45%;
    margin: 5px;
}

.loading-overlay-lg {
    display: block;
    background-color: #d8d8d8;
    max-width: 65%;
    width: 65%;
    margin: 5px;
}

.window-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(2.5px);
}

.modal {
    width: 80%;
    left: 10%;
    top: 25%;
    position: absolute;
    background-color: white;
}

.image_profile_bubble_first {
    width: 50px;
    height: 50px;
}
.image_profile_bubble {
    width: 50px;
    height: 50px;
    margin-left: -25px;
}

.w-60-pct {
    width: 50%;
}